#footer {
  margin: 0 auto;
  justify-content: center;
  position: relative !important;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
.info-container {
  display: flex;
  align-items: center;
  background-color: rgb(229, 228, 228);
  max-width: 100%;
  min-height: 50px;
}
.copyright {
  margin-top: 80px;
  background-color: #666;
  color: #666;
  font-size: 14px;
  height: 150px;
}
.icon {
  position: relative;
  color: white !important;
  margin: 10px;
  width: 30px;
  height: 30px;
}
.info-container > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.info-container > div > p {
  color: black;
}
.info-container > p {
  color: black;
  margin-right: auto;
}
