* {
  color: aqua !important;
}
.exam03 {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
mark {
  width: 100px !important;
}
table {
  border-color: aquamarine !important;
  border-style: dashed;
  margin: auto !important;
  margin-left: 0px !important;
}
