nav {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.Link {
  text-decoration: none;
  margin-left: 10px;
  color: white;
  font-weight: bolder;
}

.onClicked {
  text-decoration: none;
  margin-left: 10px;
  color: skyblue;
  font-weight: bolder;
}

img {
  margin-right: 10px;
  height: 45px;
}
#logo {
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
}
