nav{
    padding: 30px;
    text-align: right;
    
    border-bottom: 1px solid grey;
}

.Link{
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-weight: bolder;
    
}
.onClicked{
    text-decoration: none;
    margin-left: 10px;
    color: skyblue;
    font-weight: bolder;
}